{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row">
        <div class="col-md-11">
            <!-- Профиль пользователя и форма обновления -->
            <div class="cardd">
                <div class="m-b-25">
                    <img class="rounded-circle account-img" id="profile-img" src="{{ user.profile.image.url }}" class="img-radius" alt="User-Profile-Image">
                </div>
                <h1 id="profile-h1">{{user.username|title}}</h1>
                <p class="title">{{user.email}}</p>
                <a href="#" id="auth-links"><i class="fa fa-dribbble"></i></a>
                <a href="#" id="auth-links"><i class="fa fa-twitter"></i></a>
                <a href="#" id="auth-links"><i class="fa fa-linkedin"></i></a>
                <a href="#" id="auth-links"><i class="fa fa-facebook"></i></a>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                </form>
                <p><button id="btn-profile"><a href="{% url 'profile-update' user %}" id="auth-links">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Update Profile
                </a></button></p>
            </div>
            <!-- Список постов пользователя -->
            {% for post in user_posts %}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'profile' post.author.username %}">{{ post.author }}</a>
                            <small class="text-muted">{{ post.date_posted }}</small>
                        </div>
                        <h2><a>{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                    </div>
                    <br>
                </article>
            {% endfor %}
        </div>
        <div class="col-md-1">
            <!-- Блок "Latest Gist" -->
            <div class="content-sectionw">
                <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                    <a id="list-group" href="" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                        <span class="fs-5 fw-semibold" id="gist-btn">Latest Gist</span>
                    </a>
                    <div class="list-group list-group-flush border-bottom scrollarea">
                        {% for post in user_posts|slice:":5" %}
                            <a href="#post_{{ post.pk }}" class="list-group-item list-group-item-action lh-tight" aria-current="true">
                                <div class="d-flex w-100 align-items-center justify-content-between" >
                                    <strong class="mb-1">{{ post.title }}</strong>
                                    <small>{{ post.date_posted|date:"D, P" }}</small>
                                </div>
                                <div class="col-10 mb-1 small">{{ post.description }}</div>
                            </a>
                        {% empty %}
                            <p>Нет новостей.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
